body {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    text-align: center;
    font-size: 40px;
    background-image: url(./pattern.jpeg);
    background-color: rgba(255, 255, 255, 0.9);
    color: #a3b8c5;
 
}

#brushes-h2 {
    background-color: lightslategrey;
    color: white;
}

#frames-h2 {
    background-color: rgb(67, 205, 205);
    color: white;
}

#paint-h2 {
    background-color: silver;
    color: white;
}

a {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}